.navbar {
    padding: 0.2rem 0;
    .navbar-brand {
        width: 310px;
        background: #367fa9;
        color: #fff;
    }
    .fa-bars {
        color: #fff;
    }
    .nav-item {
        .nav-link {
            color: #fff;
        }
    }
}

.bg-primary {
    background-color: #3c8dbc !important;
}