<div class="container">
    <div class="row">

        <div class="intialForm">
            <div class="row top-section">
                <div class="col-sm-12 text-center">
                    <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 69px;"></i>
                    <p class="h2 weight-light">Sign in</p>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    Please Enter Valid Credentials.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="isServerSideError">
                    There is a problem with the service. Please try agian later.
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="col-sm-12">
                        <form class="form-signin" [formGroup]="signInForm">

                            <div class="form-group">
                                <label for="username" class="weight-normal">Username or email address</label>
                                <a class="pull-right anchor-font-size forgot-links-top" [routerLink]="['/forgot', 'username']">Forgot?</a>
                                <input class="form-control username" type="text" name='username' formControlName="username"  [(ngModel)]="username" />
                                <span *ngIf="username" (click)="username = null;" class="fa fa-times-circle form-control-feedback close-icon">
                </span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="weight-normal">Password
                </label>
                                <a class="pull-right anchor-font-size forgot-links-top" [routerLink]="['/forgot', 'password']">Forgot?</a>
                                <input class="form-control password" type="password" name='password' formControlName="password" [(ngModel)]="password" />
                                <span *ngIf="password" (click)="password = null;" class="fa fa-times-circle form-control-feedback close-icon"></span>
                            </div>
                            <div class="input-group">
                                <button [disabled]="!signInForm.valid" [ngClass]="{'poiter-not-allowed':!signInForm.valid}" class="btn btn-md btn-success btn-block" (click)="onSignIn()">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>