.side-nav {
  padding-top: 45px;
  aside {
    width: 250px;
    background-color: #222d32;
    webkit-transition: -webkit-transform 1s ease-in-out, width 1s ease-in-out;
    -moz-transition: -moz-transform 1s ease-in-out, width 1s ease-in-out;
    -o-transition: -o-transform 1s ease-in-out, width 1s ease-in-out;
    transition: transform 1s ease-in-out, width 1s ease-in-out;
    .fa {
      margin-right: 10px;
    }
    .nav-item {
      .nav-link {
        color: #b8c7ce;
        border-left: 1px solid transparent;
      }
      .active,
      a:hover {
        color: #fff !important;
        background-color: #2c3b41 !important;
        border-color: #3c8dbc !important;
      }
    }
    .name {
      webkit-transition: -webkit-transform 1s ease-in-out, width 1s ease-in-out;
      -moz-transition: -moz-transform 1s ease-in-out, width 1s ease-in-out;
      -o-transition: -o-transform 1s ease-in-out, width 1s ease-in-out;
      transition: transform 1s ease-in-out, width 1s ease-in-out;
    }
  }
}

:host /deep/ .collapsable-navbar {
  .name {
    // display: none;
    width: 0;
    overflow: hidden;
    display: inline-block;
    height: 0;
  }
  .side-nav aside {
    width: 50px;
  }
}
