<div [ngClass]="{'collapsable-navbar': navbarStatus}">
  <app-header (navbarClicked)="onNavbarClicked($event)"></app-header>
  <div class="row side-nav">
    <aside>
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let item of childViews">
          <a class="nav-link" [ngClass]="{'active': selectedView?.tag == item?.tag}" (click)="viewSelected(item)" [routerLink]=[item?.tag]
            routerLinkActive="active">
            <i class="fa {{item?.icon}}" aria-hidden="true"></i>
            <span class="name">{{item?.name}}</span>
          </a>
        </li>
      </ul>
    </aside>
    <section class="col-sm">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
