/* You can add global styles to this file, and also import other style files */

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: -18%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 320px;
    max-height: 260px;
    background-color: white;
    padding-top: 20px;
}

.margin-top30 {
    margin-top: 30px;
}

.error-msg {
    position: absolute;
    left: 5%;
    color: red;
    top: 0;
}

.margin-top10 {
    margin-top: 10px;
}